*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
 
    padding: 20px ;
    background-color: #fff;
}

#logo{
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 100%;
    vertical-align: middle;
}

#titolo-logo{

    background-color: #fff;
    font-size: 32px;
    line-height: 100%;
    vertical-align: middle;
    
}

body{
background-color: gray;
}

#main{
    background-color: #fff;
    width: 80%;
    margin: 40px auto;
    padding: 20px 50px;

}
#div{
    margin-bottom: 4%;
}

#selezione1{
    color: #fff;
    border : solid 2px;
    padding: 8px;
    background-color: rgb(36, 131, 255);
    border-radius: 10px;
}

#selezione2{
    color: gray;
    border : solid 2px;
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;
}



.folders::before {
    content: "\25BC";
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.text {
    font-size: 20px;
    margin: 10px;
}

/* correto */
.correct::before {
    content: "\2713";
    font-size: 7px;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    padding: 3px 3px;
}

/* sbagliato */
.incorrect::before {
    content: "\2715";
    font-size: 7px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 3px;
}

.box {
    margin-left: 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.box.blue {
    background-color: #3791e6;
}

.box.purple {
    background-color: purple;
}

.box.green {
    background-color: green;
}

.box.orange {
    background-color: orange;
}

.box.pink {
    background-color: pink;
}

.box.yellowgreen {
    background-color: yellowgreen;
}


